<html>
    <%-include('partials/head.html');%>
    <body>
        <header>
            <%-include('partials/navegacion.html');%>
			<div class="container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div >
								 <img class="img-responsive" src="img/menu.jpg" alt="">
							</div>	
						</div>
					</div>
				</div>
			</div>
				<div class="container-fluid bg-danger py-4">
					<div class="container">
						<div class="row">
							<div class="col sm">
								<div class="card mb-4 mb-sm-0 ">
									<div class="card-body">
										www.Monky'sPizza.com
									</div>
								</div>
							</div>
							<div class="col sm">
								<div class="card">
									<div class="card-body">
										<h6>
										ligas de interes
										</h6>
										<hr>
										<ul>
											<li>
												<a href="https://www.facebook.com/Monkys-Pizza-102113081963092/?ref=page_internal" target="_bblank">www.facebook.com/Monkys-Pizza</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
        <%-include('partials/footer.html');%>
    </body>
</html>